# 백엔드 API URL (브라우저 클라이언트용)
NEXT_PUBLIC_API_SSURAK_URL=http://localhost:8080

# 백엔드 API URL (서버 컴포넌트/라우트 핸들러용)
# docker compose 환경에서는 서비스명(http://ssurak:8080)으로 오버라이드
NEXT_PUBLIC_SSURAK_INTERNAL_URL=http://localhost:8080

# 메뉴 이미지 CDN 호스트명 (S3 + CloudFront)
# 환경별로 배포가 다르므로 dev/prod 각각의 도메인을 넣을 것
NEXT_PUBLIC_IMAGE_HOSTNAME=d375hwyebi9mpo.cloudfront.net
